asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.2
Django==5.2
django-formtools==2.5.1
django-otp==1.6.0
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
fido2==1.2.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
paypalrestsdk==1.13.3
phonenumbers==8.13.55
pillow==11.2.1
pycparser==2.22
pyOpenSSL==25.0.0
pyotp==2.9.0
qrcode==7.3.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
stripe==12.0.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
